:root {
  --md-primary-fg-color: #303f9f;
}

[data-md-color-scheme="slate"] .md-typeset a {
    color: #a0acff;
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__link--active {
    color: #a0acff;
}

.md-header__title {
    margin-left: 0px !important;
}

.md-header__title span.md-ellipsis {
    font-weight: 600;
}

.md-typeset h1,
.md-typeset h2 {
    font-weight: 500;
}

.center {
    display: block;
    margin: 0 auto;
}